:root {
    --base: #E5E8F5;
    --secundario: #0A3871;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: var(--base);
}

input {
    border: none;
    border-radius: 7px ;
    font-size: 20px;
    color: var(--secundario);
    padding: 10px;
}

input :focus {
    border-color: var(--secundario);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    display: inline-flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

header {
    background: var(--secundario);
    padding: 10px;
    display: flex;
    align-items: center;
}

#logo {
    width: 75px;
    height: 75px;
}

.titulo {
    color: var(--base);
    display: inline;
    margin: 10px;
}

.container {
    font-size: 16px;
    background-color: var(--base);
    /* width: 90vw; */
    max-width: 34em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.btn {
    border-radius: 10px;
    text-align: center;
    height: 5em;
    width: 20em;
    cursor: pointer;
}

.btn-iniciar {
    background: var(--secundario);
    color: var(--base);
}

.btn-agregar {
    background: var(--base);
    color: var(--secundario);
}

footer {
    margin-top: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    width: 100%;
    background: #0A3871;
}
  
footer a {
    color: inherit;
    text-decoration: none;
}
  
footer a:hover {
    transform: scale(1.5);
}
  
.github {
    color: #FFFFFF;
    padding: 0 20px;
}
  
.info {
    color: #FFFFFF;
    text-transform: capitalize;
}
